@use '../base/mixins' as m;
@use '../base/variables' as v;



.VacationContainer{

    p{
        margin: 0;
        text-align: center;
     font-size: 2rem;
    
     }

}

.contenedorDatosPrincipalesVacas{
    // background-color: red;
    margin: 0 auto;
    margin-top: 3rem;
    width: 36rem;
     

    @include m.tablet {
        
        width: 50rem;
    }
}


.recuadros {
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    align-items: center;
    margin-bottom: 3rem;
    // background-color: red;
    background-color: white;
    width: 36rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: -2px 3px 19px -4px rgba(0,0,0,0.27);
  
    @include m.tablet {
        display: flex;
        flex-direction: row;
        height: 4rem;
        align-items: center;
        margin: 0 auto ;
        margin-bottom: 3rem;
        // background-color: red;
        background-color: white;
        width: 50rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: -2px 3px 19px -4px rgba(0,0,0,0.27);
        
    }
  




   

}


.contenedorLeftdata {
    display: flex;
    padding-left: 0.8rem;
    margin: 0;
    background-color: v.$primario;
    width: 40%;
    height: 100%;
    align-items: center;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
    p{
        margin: 0;
        padding: 0;
        color: white;
        text-align: left;
        
    }
}


.textoRightData{

    width: 60%;

    p{
        text-align: center;
    }
}
.contenidoTodoTabla{
    margin: 0 auto;
    width: 37rem;
    p{
        font-size: 1.8rem;
    }

            @include m.telefono {
                margin: 0 auto;
            width: 70rem;

            p{
                font-size: 2rem;
            }
            }

}

.headerTablaVacaciones{

    display: flex;
    flex-direction: row;
    // background-color: red;
    height: 4.5rem;
    align-items: center;
    border-width: 4rem;
    border: 0.1px solid rgb(223, 219, 219);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    // box-shadow: -2px 0px 19px -4px rgba(90, 90, 90, 0.27);

    p{
        width: 25%;
    }

}


.contenidoTablaVacaciones {
    // box-shadow: -2px 0px 19px -4px rgba(90, 90, 90, 0.27);
    border: 0.1px solid rgb(223, 219, 219);
    
    
    height: 33rem;
    margin-bottom: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: scroll;
    overflow-x: hidden;

     


      .divflat{
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 4rem;
       border-bottom: 0.1px solid rgb(223, 219, 219);

           &:nth-last-child(2) {
          border-bottom: unset;
          }
      

        p {
            width: 25%;
           font-size: 1.6rem;

            &:nth-child(1) {

             padding-left: 1.2rem;
          }
            &:nth-child(2) {

             padding-left: 1.5rem;
          }
            &:nth-child(3) {

             padding-left: 1.5rem;
          }
            &:nth-child(4) {

             padding-left: 3rem;
          }

        }


           

          @include m.tablet {
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 5rem;
            align-items: center;
            // background-color: red;

           border-bottom: 0.1px solid rgb(223, 219, 219);
  
               &:nth-last-child(2) {
              border-bottom: unset;
              }
          
  
            p {
                width: 25%;
                font-size:2rem;
  
  
                &:nth-child(3) {
   
                 padding-left: 1.5rem;
              }
                &:nth-child(4) {
   
                 padding-left: 3rem;
              }
    
            }
          }
         

      
            
      }
}


.renderEmpty {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .divflat{
//     height: 35rem;
// }

.vacacionesTomadas{
    // background-color: red;
    margin-bottom: 2rem;
   
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    // margin-left: 20rem;
    p {
        text-align: left;
        

       
    }
}


.contenedorTitulo{

    margin: 0 auto;
    background-color: red;
    width: 30rem;

}

.tituloInfoVacas{
    text-align: center;
    
    padding: 0;
    font-size: 2rem;
    margin-top: 3.5rem;
    // margin-bottom: rem;
    // width: 90rem;
 
}

