@use '../base/mixins' as m;
@use '../base/variables' as v;



.contenedorContrato{
 margin: 0 auto;
 margin-top: 3rem;
 width: 40rem;

//  background-color: red;
//  height: 80rem;
 box-shadow: -2px 3px 19px -4px rgba(0,0,0,0.27);
 border-radius: 2rem;
 margin-bottom: 3rem;

 @include m.tablet {
    margin: 0 auto;
    margin-top: 3rem;
    width: 60rem;
   
   //  background-color: red;
   //  height: 80rem;
    box-shadow: -2px 3px 19px -4px rgba(0,0,0,0.27);
    border-radius: 2rem;
    margin-bottom: 3rem;

     
 }


}


.headerContrato {

    background-color:v.$primario;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 0;
    padding: 0;
    height: 10rem;
    display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;

    p{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: 3rem;
        font-size: 2rem;
        color: white;
        z-index: 999;
        // background-color: red;
        
    }
    

    svg{

        position: absolute;
        overflow: hidden;
        height:15.5rem;  
          width: 40rem;

        @include m.tablet {
            position: absolute;
            overflow: hidden;
        height:13.5rem;  
          
           width: 60rem;
        }
        
        
    }

    


}



