@use '../base/mixins' as m;
@use '../base/variables' as v;


.whiteLabel {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    .texto{
        width: 50%;
        // background-color: yellow;
        margin-left: 3rem;
        font-size: 1.6rem;
        font-weight: bold;
        // background-color: red;


    }


    .textoDos{
        width: 50%;
        // background-color: blue;
        margin-left: 3rem;
        font-size: 1.6rem;



    }


    
}

.contendorPencil{
    display: flex;
    // background-color: green;
    width: 55%;
    img {
        width: 2rem;
        cursor: pointer;
    }
}

.botonPencil{
    background: none;
    border: none;
    margin-left: -10rem;
    margin-right: 10rem;
}
.botonPencilClave{
    background: none;
    border: none;
    margin-left: -6rem;
    margin-right: 10rem;
}