body{
  
    height:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(165, 159, 159);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* GLOBALES */

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,h2,h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion)/2) 0 ;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}

/* IMAGENES RESPONSIVE */


img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}

.containerLogin {
   width: 30rem;
   margin: 8rem auto;
   /* margin-bottom: 500px; */
    
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: white;

   /* border: 0.3rem solid #439cd8; */
   border-radius: 1rem;
   box-shadow: 0px 3px 25px 5px rgba(0,0,0,0.54);
   padding: 0;
   
}

@media (min-width: 768px) { 
 
    .containerLogin {
        width: 38rem;
        margin: 3rem auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
     
        /* border: 0.3rem solid #439cd8; */
        border-radius: 1rem;
        box-shadow: 0px 3px 25px 5px rgba(0,0,0,0.54);
        padding: 0;
        
     }
 
} 

.contenedorInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #2a5d75; */
    /* width: 10rem; */
    margin-top: -2rem;
    
}

.contenedorInput input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    border: 0.1rem solid rgb(180, 180, 233);
    border-radius: 0.4rem;
    height: 2.9rem;
    font-size: 1.8rem;

}


.ingresar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #2ec1db; /* Green */
  border: none;
  color: rgb(252, 249, 249);
  font-size: 30px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 3rem;
}
.ingresar p{
  margin: 0;
  padding: 0;
  color: rgb(252, 249, 249);
 
  font-size: 2rem;
  
}

.ingresar:hover {
    background-color: #2a5d75; /* Green */
    
}

label {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif
}

.contenedorLogo :nth-child(1){
  margin-top: -5rem;
  margin-left: -6rem;
  
  
}





.recuperarClave{

    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    /* margin-bottom: 2rem; */
    

}

.contenedorInput label{
    font-size: 1.7rem;
   
}





.recuperarClave p{

  font-size: 1.7rem;
  cursor: pointer;
  padding: 0;
  margin: 1rem 0 2.5rem 0;
    

}

p{ font-family: Arial, Helvetica, sans-serif;}

.iniciar{
    margin-top: -11rem;
    padding: 0;
}
.iniciar p{
   margin-left: -5rem;
   font-size: 1.8rem;
}

.iniciar span {
    color: #2ec1db;
}


