

.containerPrimeraVez {
   width: 25%;
   margin: 3rem auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: white;

   /* border: 0.3rem solid #439cd8; */
   border-radius: 1rem;
   box-shadow: 0px 3px 25px 5px rgba(0,0,0,0.54);
   padding: 0;
   
}

.contenedorInputPrimeraVez{
    display: flex;
    flex-direction: column;
    /* background-color: #2a5d75; */
    /* width: 10rem; */
    margin-top: -2rem;
    
}

input {
 
    margin-top: 30px;
    border: 0.1rem solid rgb(180, 180, 233);
    border-radius: 0.4rem;
    height: 1.2rem;

}


.continuar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #4c8baf; /* Green */
  border: none;
  color: rgb(252, 249, 249);
  font-size: 30px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 3rem;
}
.continuar p{
  margin: 0;
  padding: 0;
  color: rgb(252, 249, 249);
 
  font-size: 16px;
  
}

.continuar:hover {
    background-color: #2a5d75; /* Green */
    
}

label {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedorLogo{
   margin-top: -1.5rem;
   /* background-color: red; */
}




p{ font-family: Arial, Helvetica, sans-serif;}

.iniciar{
    margin-bottom: 3rem;
    padding: 0;
}