@use '../base/mixins' as m;
@use '../base/variables' as v;
@forward  'recuperar';
@forward  'primera';



.containerLogin {
   

    width: 33rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 3px 25px 5px rgba(0,0,0,0.54);
    padding: 0;


    @include m.tablet {

        width: 45rem;
        margin: 1.5rem auto;
        /* margin-bottom: 500px; */
         
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
     
        /* border: 0.3rem solid #439cd8; */
        border-radius: 1rem;
        box-shadow: 0px 3px 25px 5px rgba(0,0,0,0.54);
        padding: 0;
            
         
        
    }
    
 }


 .contenedorInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #2a5d75; */
    /* width: 10rem; */
    width: 23rem;
    margin-top: -2rem;
    
    input {
 
        
        border: 0.1rem solid v.$primario;
        border-radius: 0.4rem;
        height: 2.6rem;
        font-size: 1.8rem;
        width: 100%;

      
    
    }

    
}


.ingresar {
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: v.$primario; /* Green */
  border: none;
  color: rgb(252, 249, 249);
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 3rem;


        p{
            margin: 0;
            padding: 0;
            color: rgb(252, 249, 249);
            font-family: v.$fuentePrincipal;
            font-size: 2rem;
            
        }


        &:hover {
            background-color: #2a5d75; /* Green */
            
        }


}



.contenedorLogo {

    &:nth-child(1){
        margin-top: -6rem;
        margin-left: -14rem;

    }
    
}

.recuperarClave{

    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    /* margin-bottom: 2rem; */

    .textoRecuperarClave{

        font-size: 2rem;
        cursor: pointer;
        padding: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: v.$fuentePrincipal;
        color: v.$primario;
          
      
      }

      .textoPrimeraVez{
        font-size: 2rem;
        cursor: pointer;
        padding: 0;
        margin-bottom: 3rem;
        margin-top: 2rem;
        font-family: v.$fuentePrincipal;
        line-height: 1.5;

        span{
            color:v.$primario;
        }

      }

      
    

}

.iniciar{
    margin-top: -8rem;
    padding: 0;
    margin-bottom: 2rem;


    p{
        margin-left: -5rem;
        font-size: 2.2rem;
        font-family: v.$fuentePrincipal;
     }


     span {
        color: v.$primario
    }
    



}
  

label {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-family: v.$fuentePrincipal;

}

.continuar{

    width: 20rem;
    margin: 0 auto;
    margin-top: v.$separacion;
    margin-bottom: v.$separacion;

    p{
        font-size: 2rem;
    }
}

.recuerdameContainer{
    display: flex;
    flex-direction: row;

    // justify-content: center;
    align-items: center;
    margin-top: 1rem;

    p{
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    input{
        font-size: 1.5rem;
        width: 1.6rem;
        
    }

    


}

.marginTop{
    margin-top: 1.5rem;
}

.react-datepicker {
    font-size: 1.3em;
  }
  .react-datepicker__header {
    padding-top: 0.8em;
  }
  .react-datepicker__month {
    margin: 0.4em 1.3em;
  }
  .react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
  }
  .react-datepicker__current-month {
    font-size: 1.2em;
  }

  .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
  }