@use '../base/mixins' as m;
@use '../base/variables' as v;

.tituloRecuperar{
 
    padding: 0;


    p{
        
        font-size: 2.3rem;
        margin-bottom: v.$separacion*1.5;
     }

}



.continuar {


    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: v.$primario; /* Green */
  border: none;
  color: rgb(252, 249, 249);
  font-size: 30px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 3rem;

  &:hover {
    background-color: #2a5d75; /* Green */
    
  }

    p{
        margin: 0;
    }


}

.textoCodigoaMail{
    margin-top: 2rem;
    margin-bottom: v.$separacion/1.5;
    font-size: 1.8rem;
}

.textoRepitaClave{
    margin-top: v.$separacion/1.5;
}


.inputCodigoRecibido{

    width: 20rem;
    margin: 0 auto;
}


.codeInput{
    // background-color: red;
    width: fit-content;
    margin: 0 auto;

}