@use '../base/mixins' as m;
@use '../base/variables' as v;


.BotonNav{
   
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    // transition: 0.2s;
}
.BotonNav:hover {
   
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 1px solid v.$primario;

}

.activeClassName{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 1px solid v.$primario;
}



li {
    list-style: none;
    padding: 1.5rem;
    margin: 0 auto;
    display: inline;
    font-size: 19px;
   
    @include m.tablet {
    padding: 0.5rem;
        
    }
    
}



ul {

    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include m.tablet {
        display: flex;
       flex-direction: row;
       padding-left: 8rem;
       padding-right: 8rem;
        
    }
}

nav {

    // display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: center;

    text-align: center;
    background-color:white;
    width: 100%;
    padding: 2rem;
     
    // border-radius: 2rem;
    box-shadow: -4px -1px 30px -10px rgba(192, 192, 192, 0.57);

  
    
    .icon {
        // float: right;
        // display: block;
        position: absolute;
        display: inline;
        top: 0;
        right: 0;
        margin-top: 18px;
        margin-right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
       
   
      }

    @include m.tablet {

        display: flex;
        flex-direction: row;

        .icon {
            display: none;
          }
          


        
        
    }

    

    
   
}

.contenedorImg{

    width: 20rem;
 
    // margin: 0;
  

    .logoNav{

    //  background-color: red;
    }

    img {
        width: 150px;
        margin: 0;
        margin-left: 2rem;
    }

    
}

.fa {
 font-size: 2.9rem;
}


.salir{


    
    
    // margin-right: 9rem;
    background-color: transparent;
    border: none;
    // background-color: red;
    cursor: pointer;
    margin-top: 1.7rem;

    p{
        font-size: 1.9rem;
        color: red;
        margin: 0;
        padding: 0;
    }

    @include m.tablet {
    margin-right: 9rem;
    margin-top: 0;
    }



}