@use '../base/mixins' as m;
@use '../base/variables' as v;


.BotonNav{
   
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    // transition: 0.2s;
}
.BotonNav:hover {
   
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 1px solid v.$primario;

}

.activeClassName{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 1px solid v.$primario;
}



li {
    list-style: none;
    padding: 1.5rem;
    margin: 0 auto;
    display: inline;
    font-size: 19px;
   
    @include m.tablet {
    padding: 0.5rem;
        
    }
    
}



ul {

    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include m.tablet {
        display: flex;
       flex-direction: row;
       padding-left: 8rem;
       padding-right: 8rem;
        
    }
}

nav {

    align-items: center;
    text-align: center;
    // background-color:rgb(255, 0, 0);

    padding: 2rem 0rem 2rem 2rem;
    // margin: 0 auto;
    box-shadow: -4px -1px 30px -10px rgba(192, 192, 192, 0.57);

    .hamburger{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 19px;
        margin-right: 10px;
      }
    
    // .icon {
    //    margin: 0;
    //     position: absolute;
    //     display: inline;
    //     top: 0;
    //     right: 0;
    //     margin-top: 18px;
    //     margin-right: 10px;
    //     // background-color: red;
    //     background-color: transparent;
    //     border: none;
    //     cursor: pointer;
       
   
    //   }

    .line{
        display: block;
        width: 35px;
        height: 3px;
        background-color: rgb(3, 3, 3);
        // margin-block: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        transition: transform .5s, opacity .25s
    }

    .hamburger.active .line:nth-child(1){
        transform: translateY(13px) rotate(45deg)
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-13px) rotate(-45deg)
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }

    @include m.tablet {

        display: flex;
        flex-direction: row;

        .icon {
            display: none;
          }


        .hamburger{
            display: none;
        }
          


        
        
    }

    

    
   
}

.contenedorImg{

    // width: 20rem;
 
    // margin: 0;
  
//   background-color: red;
  

    img {
        width: 150px;
        margin: 0;
        margin-left: 2rem;
    }

    
}

.fa {
 font-size: 2.9rem;
//  background-color: red;
//  position: absolute;
}


.salir{


    width: fit-content;
    margin: 0 auto;
    
    // margin-right: 9rem;
    background-color: transparent;
    border: none;
    // background-color: red;
    cursor: pointer;
    margin-top: 1.7rem;

    p{
        font-size: 1.9rem;
        color: red;
        margin: 0;
        padding: 0;
        
    }

    @include m.tablet {
    margin-left: 9rem;
    margin-top: 0;
    }



}

