@use 'variables' as v;

html, body, p, label{

   font-family: v.$fuentePrincipal;
}

.contenedor {
   width: 95%;
   max-width: 1200px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

img {

   display: block;
}


html {
   font-size: 62.5%;
   box-sizing: border-box;
}


*, *:before, *:after {
   box-sizing: inherit;
}

.titulo{
   // background-color: red;
   text-align: center;
   margin: 0 auto;
   padding: 0;
   font-size: 2rem;
   margin-top: 3.5rem;
   margin-bottom: 3.5rem;
   display: flex;
   flex-direction: row;
   align-self: center;
   justify-content: space-around;
   width: 33rem;
   // background-color: red;

   // margin-bottom: rem;
   // width: 90rem;

   p{
      margin: 0;
      // text-align: center;
      font-size: 2rem;
      align-self: center;

   }

   img{
      width: 3rem;
      // background-color: red;
      margin: 0;
   }
}

.swal2-popup {
   font-size: 1.6rem !important;
   font-family: v.$fuentePrincipal
 }

 ::-webkit-scrollbar {
   width: 0.75rem;               /* width of the entire scrollbar */
 }
 
 ::-webkit-scrollbar-track {
   background:rgb(197, 196, 196);        /* color of the tracking area */
 }
 
 ::-webkit-scrollbar-thumb {
   background-color: v.$primario   /* color of the scroll thumb */
   // border-radius: 20px;       /* roundness of the scroll thumb */
   // border: 3px solid v.$hover;  /* creates padding around scroll thumb */
 }


 .marginTopLoading{
    margin-top: 15rem;
 }
 .marginTopLoadingCerti{
    margin-top: 3.5rem;
 }