@use 'variables' as v;

html, body, p, label{

   font-family: v.$fuentePrincipal;
}

.contenedor {
   width: 95%;
   max-width: 1200px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}


html {
   font-size: 62.5%;
   box-sizing: border-box;
}


*, *:before, *:after {
   box-sizing: inherit;
}

.titulo{
   // background-color: red;
   text-align: center;
   margin: 0 auto;
   padding: 0;
   font-size: 2rem;
   margin-top: 5rem;
   margin-bottom: 3rem;
   // width: 90rem;

   p{
      margin: 0;
      text-align: center;
   }
}

.swal2-popup {
   font-size: 1.6rem !important;
   font-family: v.$fuentePrincipal
 }