// Fuentes
$fuentePrincipal: 'Cairo', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 770px;

$desktop: 1024px;

// Colores
$primario: #00cde8;
$hover: #2a5d75; 
$negro: #000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;

$separacion: 3rem;
